<!-- footer page -->
<div class="contanier-fluid bg-coco p-5 ">
  
    <div class="row ">
        
        <div class="col-lg-4 col-md-6 mb-4 text-white text-center  p-2">
            <h6>Our Store</h6>
            <a class=" nav-link text-white" href="{% url "index" %}">Home</a> 
            <a  class=" nav-link text-white"href="{% url "about" %}">About Us</a> 
            <a  class=" nav-link text-white" href="{% url "menu" %}">Menu</a> 
            <a  class=" nav-link text-white" href="{% url "contact" %}">Contact</a> 
        </div>
        <div class="col-lg-4 col-md-6 mb-4 text-white text-center  p-2">
            <h6>Further Link</h6>
             <a class=" nav-link text-white " href="{% url "order" %}">Delivery</a> 
        </div>
        <div class="col-lg-4 col-md-6 mb-4 text-white text-center p-2">
            
            <h6>Get In Touch</h6>
            
                 <p class="text-white"><i class="bi bi-telephone text-white text-center" ></i> 9876543210</p>
                 <p class="text-white"><i class="bi bi-house-door text-white text-center"> </i>Pattukkotai, Thanjavur.</p>
                 <p class="text-white"> <i class="bi bi-envelope text-white text-center" ></i> delight26@gmail.com</p>

        </div>

    </div>


  <hr class="text-white">
<div class="row">
    <div class="col">
          <p class="text-white text-center mt-2"> Copyright&copy;2025  Delight All Rights Reserved</p> 
    </div>
</div> 
</div>
<!-- footer ends -->







