 {% extends "base.html" %}
 {% load static %}
 {% block content %}
 <!--Container start  -->
<div class="container p-3">
  <div class="row p-lg-3">
    
    <div class="col-lg-6 ">
      <img src="{% static "image/chef1.jpg" %}" alt="" width="500" height="500" class="img-fluid">
    </div>

    <div class="col-lg-6 my-lg-auto my-4  text-center">
    <h1>The Most Delicious</h1>
    <h1>DELIGHT BAKERY</h1>
    <p class="bake">Using Premium Ingredients baked into delicious Cakes and Snacks</p>
    <h4>Baking goes beyond expectations... </h4>
    </div>
  </div>
</div>
<!-- Container end -->
 {% endblock content %}


    
