<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
          <div class="container mt-5 ">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <div class="card shadow">
                  <div class="card-body">

                    
                       <form method="post">
                            {% csrf_token %}
                            {{login_form.as_p}}
                            <div class="text-center ">
                            <button class=" btn btn-primary w-100  "type="submit">submit</button>
                             </div>
              
                        </form> 
         
                                           
                <div class="text-center mt-3">
                    <p> Already have an account?</p>
                  <a href="{% url 'sign_up' %}" class="btn btn-primary">Register here</a>
                      
                  </a>
               </div>  
                      
     
                
                  </div>
                </div>
              </div>
              </div>
            </div>
   
    </form>
   
   </body>
</html>