{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Delivery  start -->
       
<!--Container start  -->
<div class="container p-3">
   
  <div class="row p-lg-3">
    <div class="col-lg-6 ">
      <img src="{% static "image/delivery.png" %}" alt="" width="500" height="500" class="img-fluid">
    </div>
    <div class="col-lg-6 my-lg-auto my-4 ">
    <h2>Delivery Orders</h2>
    <p>We bake through the night to ensure we deliver fresh products to PKT and surrounding areas. No delivery charges for wholesale orders -fast delivery to your premises and low minimum order
quantities</p>
    </div>
  </div>
  <div class="row ">
    <div class="col">
        <section class="steps-section ">
  <h2>Easy 3 Steps</h2>
  <div class="steps-container">
    <div class="step">
      <div class="icon">🛒</div>
      <h4>1. Choose</h4>
      <p>Select your favorite items</p>
    </div>

    <div class="step">
      <div class="icon">📋</div>
      <h4>2. Order</h4>
      <p>Place your order easily</p>
    </div>

    <div class="step">
      <div class="icon">🚚</div>
      <h4>3. Delivery</h4>
      <p>Fast & fresh delivery</p>
    </div>
  </div>
</section>

    </div>
  </div>
</div>
<!-- Container end -->

<!--delivery ends  -->
{% endblock content %}