{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- js link -->
       <script src="{% static 'script.js' %}"></script>
    <div class="container mt-3">
    <div class="row">
        {% for p in products %}
     <div class="col-lg-3 col-md-4 col-6 mb-3 ">

            <div class="card ">
                <img src="{{ p.image.url }}" class="img-fluid" style="height:250px;  width:300px;">
                <div class="card-body text-center">
                    <h5>{{ p.name }}</h5>
                <p>₹{{ p.price|floatformat:0 }}</p>
                      <button class="btn btn-primary btn-small"
                        onclick="addToCart({ id: '{{ p.id }}', name: '{{ p.name }}', price: '{{ p.price }}', image: '{{ p.image.url }}' })">
                    Add to Cart
                </button>
         
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div> 

 {% endblock content %}
 {% block scripts %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}

 